HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.idea/workspace.xml
.idea/modules/com.b328.blockchain.test.iml
.idea/modules/com.b328.blockchain.main.iml
.idea/workspace.xml
src/main/resources/application.properties
out/production/resources/application.properties
